<!DOCTYPE html>
<html>
 <head>
  <title>College Information</title>
  <link rel="stylesheet" href="./css/style.css" type="text/css"> <!--link to our css style page-->
 </head>
 <body class="college_list-bg">
<!--  <html class="college_list-bg">  <!--created collge_list class for index page in order to format background separately -->
        <h1>College Information</h1>
   <h2>Types of Colleges</h2>
     <h3>University or State School</h3>
         <p> Examples of Universities and State Schools:
           <p>Boston University</p>
           <p>University of Washington</p>
           <p>University of Tennessee</p>
         
     <h3>Technnology Institutes</h3>
         <p> Examples of Technology Institutes:
           <p>Virginia Tech</p>
           <p>Embry-Riddle Aeronautical University</p>
           <p>Massachusetts Institute of Technology</p>
         </p>
     <h3>Art School</h3>
       <p>Art colleges are educational institutions with a primary focus on the visual arts, especially illustration, painting, photography, sculpture, and graphic design.</p>
         <p> Examples of Art Schools:
           <p>Rhode Island School of Design</p>
           <p>Savannah College of Arts and Design</p>
           <p>Cornish College of the Arts</p>
         <p>
     <h3>Liberal Arts School</h3>
       <p>A liberal arts college aims to impart a broad general knowledge and develop general intellectual capacities, in contrast to a professional, vocational, or technical curriculum.</p>
         <p> Examples of Liberal Art Schools:
           <p>Williams College</p>
           <p>Amherst College</p>
           <p>Colby College</p>
         <p>
     <h3>Community College or Vocational School</h3>
       <p>Vocationals schools are schools in which students receive specialized education for a specific job or trade. Community colleges are typically two-year colleges in which students can earn associate degrees.</p>
         <p> Examples of Community Colleges and Vocational Schools:
           <p>Bunker Hill Community College</p>
           <p>New England School of Photography</p>
           <p>Roxbury Community College</p>
         <p>
     <form>
     <input class="ghost-button" type="button" value="Back to Home"
      onclick = "window.location.href='/'" class="btn btn-primary"> <!--button brings user to index page--> 
       <br><br><br><br>
     </form>
 
   
<!--    </html> -->
   
 </body>
</html>