<!DOCTYPE html>
<html>
 <head>
  <title>College Information</title>
  <link rel="stylesheet" href="./css/style.css" type="text/css"> <!--link to our css style page-->
 </head>
 <body>
 <html class="college_list-bg">  <!--created collge_list class for index page in order to format background separately -->
   <h1>College Information</h1>
   <h2>Types of Colleges</h2>
     <h3>University or State School</h3>
         <ul> Examples of Universities and State Schools:
           <li>Boston University</li>
           <li>University of Washington</li>
           <li>University of Tennessee</li>
         </ul>
     <h3>Technnology Institutes</h3>
         <ul> Examples of Technology Institutes:
           <li>Virginia Tech</li>
           <li>Embry-Riddle Aeronautical University</li>
           <li>Massachusetts Institute of Technology</li>
         </ul>
     <h3>Art School</h3>
       <p>Art colleges are educational institutions with a primary focus on the visual arts, especially illustration, painting, photography, sculpture, and graphic design.</p>
         <ul> Examples of Art Schools:
           <li>Rhode Island School of Design</li>
           <li>Savannah College of Arts and Design</li>
           <li>Cornish College of the Arts</li>
         </ul>
     <h3>Liberal Arts School</h3>
       <p>A liberal arts college aims to impart a broad general knowledge and develop general intellectual capacities, in contrast to a professional, vocational, or technical curriculum.</p>
         <ul> Examples of Liberal Art Schools:
           <li>Williams College</li>
           <li>Amherst College</li>
           <li>Colby College</li>
         </ul>
     <h3>Community College or Vocational School</h3>
       <p>Vocationals schools are schools in which students receive specialized education for a specific job or trade. Community colleges are typically two-year colleges in which students can earn associate degrees.</p>
         <ul> Examples of Community Colleges and Vocational Schools:
           <li>Bunker Hill Community College</li>
           <li>New England School of Photography</li>
           <li>Roxbury Community College</li>
         </ul>
   </html>
   <form>
     <input type="button" value="Back to Home"
      onclick = "window.location.href='index.erb'" class="btn btn-primary"> <!--button brings user to index page--> 
     </form>
 </body>
</html>