<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Explore</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Welcome to Explore</h1>
   <p>Explore Your College Choices</p>
   <br>
   <button type="button">EMBARK ON YOUR COLLEGE SEARCH</button>
   <br> 
   <br>
   <button type="button">Go to College Information</button>
  
 </body>
</html>