
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Explore</title>
  <link rel="stylesheet" href="./css/style.css" type="text/css">
 </head>
 <body>
   <h1>Welcome to Explore</h1>
   <p>Explore Your College Choices</p>
   <br>
  <div class = "homepagebuttons">
   <form>
<!--      <a class="ghost-button" href="#">EMBARK ON YOUR COLLEGE SEARCH</a> -->
     <input type="button" value="EMBARK ON YOUR COLLEGE SEARCH" 
     onclick = "window.location.href='/test.erb'" class="btn btn-primary">
     
   </form>
   <br> 
   <br>
   <form>
     <input type="button" value="Go to College Information"
     onclick = "window.location.href='college_list.erb'" class="btn btn-primary">
   </form>
  </div>
 </body>
</html>