<!DOCTYPE html>
<html>
 <head>
  <title>Explore</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
<h1>Find The Perfect College For You!</h1>
   <p>Choose the answer that best fits your personality and preference below.</p>
   
   
<h3>Would you like to attend a 4 year college or 2 year college?</h3>
     <form action='/results' method="POST">
    <input type="radio" name="duration" value="four_year" checked>4 year
            <br><br>
    <input type="radio" name="duration" value="two_year">2 year

   
   
<h3>Would you like to attend a big school() or a smaller sized school ()?</h3>
     
    <input type="radio" name="environment" value="big" checked>Big
            <br><br>
    <input type="radio" name="environment" value="small">Small

   
<h3>Which of the words below describe your personality?</h3>
     
     <input type="radio" name="personality" value="artsy" checked>artsy
          <br><br>
     <input type="radio" name="personality" value="socialite">socialite
       <br><br>
     <input type="radio" name="personality" value="nerdy" checked>nerdy
       <br><br>
     <input type="radio" name="personality" value="jock" checked>Jock


       
       
   
<h3>Would you like your school to have a religious affiliation?</h3>
         
      <input type="radio" name="religion" value="yes" checked>yes
          <br><br>
      <input type="radio" name="religion" value="no">no

   
   
<h3>Would you like your school to have greek life?</h3>
         
      <input type="radio" name="greek" value="yes" checked>Yes
          <br><br>
      <input type="radio" name="greek" value="no">No
           <br><br><br><br>
       <input type="submit" value="Find College!">
</form>
   
  
 </body>
</html>