<!DOCTYPE html>
<html>
 <head>
  <title>Explore</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
<h1>Find The Perfect College For You!</h1>
   <p>Choose the answer that best fits your personality and preference below.</p>
   
   
<h3>Do you like being around small groups or large crowds?</h3>
     <form>
    <input type="radio" name="school_size" value="small_groups" checked>Small groups
            <br><br>
    <input type="radio" name="school_size" value="large_crowds">Large Crowds

   
   
<h3>Do you like being in an urban or rural environent?</h3>
     
    <input type="radio" name="environment" value="rural" checked>Rural
            <br><br>
    <input type="radio" name="environment" value="urban">Urban

   
<h3>Do you want to go to a 4 year or 2 year school?</h3>
     
     <input type="radio" name="year" value="4_year" checked>4 year
          <br><br>
     <input type="radio" name="year" value="2_year">2 year
       
   
<h3>Do  you like a warm or cold climate?</h3>
         
      <input type="radio" name="climate" value="cold" checked>Cold
          <br><br>
      <input type="radio" name="climate" value="warm">Warm

   
   
<h3>Would you like your school to have a religious affiliation?</h3>
         
      <input type="radio" name="religion" value="yes" checked>Yes
          <br><br>
      <input type="radio" name="religion" value="no">No
           <br><br><br><br>
       <input type="submit" value="Find College!">
</form>
   
  
 </body>
</html>